*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-secondary);
    font-family: Arial, sans-serif;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}