.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 24px;
    background: #111;
}

.hero_content {
    position: relative;
    z-index: 2;
}