*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
    min-height: 100%;
    background-color: #0b0b0b;
}

body {
    min-height: 100%;
    background-color: #0b0b0b;
    color: var(--color-text-secondary);
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 100%;
  overflow-x: hidden;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}